@import "tailwindcss";
@theme {
    --font-inter: "Inter", sans-serif;
}
:root {
    font-size: 16px;
    --pg-1: #666666;
    --primary: #00b307;
    --primary-hover: #2c742f;
    --primary-bg: #d1d9d1;
    --primary-bg-hover: #bdbbc9;
    --dark-bg: #1a1a1a;
}

body {
    font-family: var(--font-inter);
}
